<%= form_for question, remote: true do |f| %>

  <%= content_tag :div, "", id: "error_messages_#{btn_text.downcase}" %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Your Question" %>
  </div>

  <div class="form-group">
    <%= f.select :category_id, category_collection, { include_blank: "Select a category" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.cktext_area :content, class: "ckeditor form-control", id: "form_question_#{action}" %>
  </div>

  <div class="form-group">
    <%= f.select :tag_ids, tag_collection, {},  multiple: true, class: "form-control tag-multiple" %>
  </div>

  <%= f.submit btn_text, class: "btn btn-primary" %>
<% end %>
