<div class="row question" id="question-<%= question.id %>">
  <div class="col-md-9">
    <h4><b><%= link_to_unless current_page?(question_path(question.id)),
        question.title, question %></b></h4>
    <p class="text-muted text-justify"><%= raw question.content %></p>
    <p><%= render partial: "shared/tag_show", collection: question.tags, as: :tag %></p>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-6">
        <p class="badge badge-primary ml-3 answer-count"><%= question.answers.count %></p>
        <h6 class="text-center">answers</h6>
      </div>
      <div class="col-md-6">
        <p class="badge badge-primary ml-3">15</p>
        <h6 class="text-center">votes</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <% if current_user?(question.user) %>
      <%= button_tag fa_icon("pencil"), class: "btn btn-outline-dark btn-sm",
        data:{ toggle: "modal", target: "#edit-q#{question.id}" } %>
      <!-- Modal -->
      <div class="modal fade" id="edit-q<%=question.id %>" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Question</h5>
              <%= button_tag fa_icon("close"), class: "close", data:{ dismiss: "modal" } %>
            </div>
            <div class="modal-body">
              <%= render "questions/form", question: question, btn_text: "Update" %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to fa_icon("trash"), question, method: :delete,
        class: "btn btn-outline-danger btn-sm", data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>
<p class="font-italic">
  <span><%= link_to question.user.name, user_path(question.user) %></span>
  <span>asked on <%= question.created_at.strftime("%Y/%m/%d") %> in</span>
  <span><%= link_to question.category.name, "#" %></span>
  <span class="float-right">
    <% if (logged_in? && current_page?(question)) %>
      <%= link_to "Comment(#{num_comments question})", "#", id: "num_comments",
        data: { toggle: "collapse", target: "#comment-question-form"} %>
    <% end %>
  </span>
</p>
