<%= form_for [comment.question, comment], remote: true do |f| %>
  <%= f.hidden_field :answer_id, value: answer_id%>

  <div class="form-group">
    <%= f.label :content, "Your comment" %>
    <%= f.cktext_area :content, class: "ckeditor form-control", id: "editor#{answer_id}" %>
  </div>

  <div class="form-group">
    <%= f.submit btn_text, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
