<nav class="navbar navbar-default navbar-expand-xl navbar-light fixed-top">
  <%= link_to(root_path, class: "navbar-brand") do %>
    <%= fa_icon "book"%>
    <span>Q&A<b>TuHung</b></span>
  <% end %>

  <ul class="nav navbar-nav">
    <%= nav_helper nav_bar_items, "nav-link" %>
    <%= login_helper "nav-link" %>
    <li class="form-search"><%= render "shared/search" %></li>
  </ul>
</nav>
end
