<div>
  <% if logged_in? %>
    <%= button_tag "Ask a question", class: "btn btn-primary btn-block",
      data:{ toggle: "modal", target: "#newquestion" } %>
  <% else %>
    <%= link_to "Ask a question", login_path, class: "btn btn-primary btn-block" %>
  <% end %>
  <!-- Modal -->
  <div class="modal fade" id="newquestion" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ask A Question</h5>
          <%= button_tag fa_icon("close"), class: "close", data:{ dismiss: "modal" } %>
        </div>
        <div class="modal-body">
          <%= render "questions/form", question: Question.new, btn_text: "Create" %>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav flex-column mt-3">
    <%= nav_helper left_side_bar_items, "nav-link", "nav-item"%>
  </ul>
</div>
